.toggleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid transparent;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  user-select: none;
  color: var(--white);
  background: var(--brand-dark);
}

@media screen and (min-width: 1000px) {
  .toggleButton {
    width: 48px;
    height: 48px;
  }
}
