.inputGroup {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 46px;
  padding: 1.125rem 2.8125rem;
}

.inputGroupDisabled {
  cursor: not-allowed;

  * {
    cursor: not-allowed;
  }
}

.inputGroup > label {
  color: var(--gray-extra-dark);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  opacity: 0.7;
  flex: 0 1 auto;
}

.inputGroup > input {
  margin: 0;
  flex: 1 1 auto;
  max-width: 60%;
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  text-align: right;
}

.inputGroup > input::placeholder {
  opacity: 0.75;
}

.inputGroupLight {
  border: 1px solid var(--white);
  background: var(--white);
}

.inputGroupDark {
  border: 2px solid var(--gray-medium-dark);
  background: var(--white);
}

@media screen and (min-width: 1000px) {
  @media screen and (min-width: 1000px) {
    .inputGroup > input {
      max-width: 75%;
    }
  }
}
