.walletModalContent {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;

  h4 {
    color: var(--gray-extra-dark);
    margin-bottom: 2rem;
    text-align: center;
  }
}

.walletModalLogo {
  align-self: center;
  margin-bottom: 3.125rem;
}

.walletModalProviderList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .providerOption {
    background-color: var(--gray-medium-light);
    border-radius: 46px;
  }
}

.providerOptionBtn {
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  gap: 0.75rem;
  background: none;
  border: none;
  font: inherit;
  outline: inherit;
  color: var(--gray-extra-dark);
  cursor: pointer;
  width: 100%;
  border-radius: 46px;

  &:hover,
  &:focus {
    background-color: var(--gray-extra-dark);
    color: var(--white);
  }
}

.providerOptionLogo {
  object-fit: cover;
  width: 45px;
  height: 45px;
}

@media screen and (max-width: 1000px) {
  .walletModal {
    max-width: unset;
  }

  .walletModalLogo {
    margin-bottom: 2rem;
  }
}
