.wrapFeeWarningModalContent {
  display: flex;
  flex-direction: column;

  h4 {
    color: var(--gray-extra-dark);
  }

  p {
    color: var(--gray-extra-dark);

    &:first-of-type {
      margin-bottom: 1rem;
    }

    &:last-of-type {
      margin-bottom: 3.125rem;
    }
  }
}

.wrapFeeWarningModalLogo {
  align-self: center;
  margin-bottom: 3.125rem;
}

.wrapFeeWarningModalInput {
  width: 75%;
  margin: 0 auto;
}

.wrapFeeWarningModalActions {
  display: flex;
  flex-direction: column;
  gap: 2.125rem;
  margin: 2.5rem auto;
  text-align: center;
}

.wrapFeeWarningModalButton {
  min-width: 250px;
}

.wrapFeeWarningModalButtonText {
  font-size: 13px;
}

.wrapFeeWarningModalFullAmount {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  color: var(--danger);
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .wrapFeeWarningModalContent {
    p {
      &:last-of-type {
        margin-bottom: 2.625rem;
      }
    }
  }

  .wrapFeeWarningModalLogo {
    margin-bottom: 2rem;
  }

  .wrapFeeWarningModalInput {
    width: 100%;
  }

  .wrapFeeWarningModalActions {
    display: flex;
    flex-direction: column;
    gap: 1.625rem;
    margin: 1.25rem auto;
    text-align: center;
  }
}
