.subHeader {
  margin-bottom: 34dvh;
}

.haveAccount {
  margin: 0.5rem 0;
  text-align: center;
}

.installMetaMaskBtn {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1000px) {
  .subHeader {
    margin-bottom: 4.85rem;
  }
}
