.layout {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  margin: 0 auto;
  width: 100%;
  padding: 6.875rem 1.875rem 1.875rem;
}

.header {
  margin-bottom: 1rem;
}

.header > svg {
  display: inline-block;
  position: relative;
  top: 0.5rem;
}

@media screen and (min-width: 1000px) {
  .main {
    max-width: 620px;
    padding: 4.625rem 0 0;
  }

  .header {
    margin-bottom: 2rem;
  }
}

.buildInfo {
  padding: 5rem 2rem 2rem;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  :is(a) {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    &:hover {
      text-decoration: underline;
    }
  }
}
