.alert {
  padding: 0.5rem 0.25rem;
  background-color: white;
  font-size: 14px;
  line-height: 120%;
  border-radius: 10px;
  margin-top: 1rem;
  text-align: center;
  word-wrap: break-word;
}

.alertDanger {
  color: var(--danger);
}

.alertWarn {
  color: var(--warn);
}

.alertInfo {
  color: var(--brand-dark);
}
