.modalOverlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(6, 21, 43, 0.9);
}

.modal {
  position: relative;
  background: #fff;
  padding: 1.25rem;
  width: 100%;
  max-width: 675px;
  border-radius: 20px;
}

.modalContent {
  padding: 3.5rem 3.5rem 0;
}

.modalCloseButton {
  float: right;
  border: none;
  background: none;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .modal {
    max-width: none;
    width: 100%;
    height: 100vh;
    padding: 1.75rem;
    overflow: auto;
  }
  .modalContent {
    padding: 1rem;
  }
}
